Here are single category blogs
<!-- Start blog news single -->
<article class="blog-news-single">
	<div class="blog-news-img">
		<img src="images/blog-img-1.jpg" alt="image">
	</div>
	<div class="blog-news-title">
		<h2>{{ ctrl.details.title }}</h2>
		<p>
			By {{ ctrl.details.author }} <span class="blog-date">| {{
				ctrl.details.updatedAt | date:'MMM d yyyy' }}</span>
		</p>
	</div>
	<div class="blog-news-details blog-single-details">
		<div ng-bind-html="ctrl.details.contents | trusted"></div>
	</div>
</article>

<!-- Start Comment box -->
<div class="comments-box-area">
	<button class="comment-btn"
		ng-click='ctrl.toggleAddComment()'>Leave a comment</button>
	<dzi-dialog id="leaveComment" show='ctrl.modalShown' width=inherit
		height='auto'>
		<p class="default-text">Your email address will not be published.</p>
		<form action="" class="comments-form" ng-submit="ctrl.addComment()">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Your Name"
					ng-model="ctrl.comment.name">
			</div>
			<div class="form-group">
				<input type="email" class="form-control" placeholder="Email"
					ng-model="ctrl.comment.email">
			</div>
			<div class="form-group">
				<textarea placeholder="Comment" rows="3" cols="400" class="form-control"
					ng-model="ctrl.comment.message"></textarea>
			</div>
			<button type="submit" class="comment-btn">Submit Comment</button>
		</form>
	</dzi-dialog>

	<div ng-include="'views/blog/blog-comments.html'"></div>
</div>

