<div class="comment-list">
	<div class="row-xs-5">
		<div class="panel noborder">
			<div class="panel-heading">
				<strong>myusername1</strong> <span class="text-muted">commented
					5 days ago</span>
			</div>
			<div class="panel-body">
				<div class="comment-content">Comment 1</div>
				<div>
					<a class="reply-link" data-toggle="collapse"
						data-target="#postReply">Write a reply</a>
				</div>
			</div>
			<div class="panel-footer">
					<a class="reply-link" data-toggle="collapse"
						data-target="#replyList">Replies</a>
				<div id="replyList" class="collapse reply-list">
					<ul>
						<li>
							<div class="row-xs-5">
								<div class="panel noborder">
									<div class="comment-poster">
										<strong>userresponded</strong> <span class="text-muted">replied
											1 days ago</span>
									</div>
									<div class="panel-body">
										<div class="reply-content">#1 reply to comment 1</div>
										<div>
											<a class="reply-link" data-toggle="collapse"
												data-target="#postReply">Reply</a>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="row-xs-5">
								<div class="panel noborder">
									<div class="comment-poster">
										<strong>userresponded</strong> <span class="text-muted">replied
											1 days ago</span>
									</div>
									<div class="panel-body">
										<div class="reply-content">#2 reply to comment 1</div>
										<div>
											<a class="reply-link" data-toggle="collapse"
												data-target="#postReply">Reply</a>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /panel panel-default -->
	</div>

	<div class="row-xs-5">
		<div class="panel noborder">
			<div class="panel-heading">
				<strong>myusername2</strong> <span class="text-muted">commented
					5 days ago</span>
			</div>
			<div class="panel-body">Panel content</div>
			<!-- /panel-body -->
		</div>
		<div class="panel-footer">Panel Footer</div>
	</div>
</div>