 <div ng-include="'views/navigator/navigator.html'" ></div>
<!-- Start single page header -->
  <section id="single-page-header">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-page-header-left">
              <h2>{{ ctrl.messages.blog_banner_title }}</h2>
              <p>{{ ctrl.messages.blog_banner_desc }}</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End single page header -->
  
  <!-- Start blog archive -->
  <section id="blog-archive">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="blog-archive-area">
            <div class="row">
              <div class="col-md-4 hidden-sm hidden-xs">
                <aside class="blog-side-bar">
                  <!-- Start sidebar widget -->
                  <div class="sidebar-widget">
                              
                  </div>
                  <!-- Start sidebar widget -->
                  <div class="sidebar-widget">
                    <h4 class="widget-title">{{ ctrl.messages.blog_categories_title }}</h4>
                    <ul class="widget-catg">
                   		<li class="animate-repeat" ng-repeat="category in ctrl.categories">
							<a href="" ng-click="ctrl.onList('{{ category.id }}')">{{ category.type }}</a>
						</li>
                    </ul>
                  </div>

                  
					<!-- Start sidebar widget -->
                </aside>
              </div>
              <div class="col-md-8">
                <div class="blog-archive-left">
                <div class="default-text"> {{ ctrl.noPost }} </div>
 				<div ng-include="ctrl.subview.url"></div>
 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </section>
  <!-- End blog archive -->