Here are single category blogs
<!-- Start blog news single -->
<article class="blog-news-single">
	<div class="blog-news-img">
		<img src="images/blog-img-1.jpg" alt="image">
	</div>
	<div class="blog-news-title">
		<h2>{{ ctrl.details.title }}</h2>
		<p>
			By {{ ctrl.details.author }} <span
				class="blog-date">| {{ ctrl.details.createdAt | date:'MMM d yyyy' }}</span>
		</p>
	</div>
	<div class="blog-news-details blog-single-details">
		<div ng-bind-html="ctrl.details.contents | trusted"></div>
	</div>
</article>

<!-- Start Comment box -->
<div class="comments-box-area">
	<button class="btn btn-default active" data-toggle="collapse" data-target="#leaveComment">Leave a Comment</button>
	<div id="leaveComment" class="collapse">
		<p>Your email address will not be published.</p>
		<form action="" class="comments-form">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Your Name">
			</div>
			<div class="form-group">
				<input type="email" class="form-control" placeholder="Email">
			</div>
			<div class="form-group">
				<textarea placeholder="Comment" rows="3" class="form-control"></textarea>
			</div>
			<button class="comment-btn">Submit Comment</button>
		</form>
	</div>
	
	<div ng-include="'views/blog/blog-comments.html'"></div>
</div>

