
<div ng-include="'views/navigator/navigator.html'"></div>
<!-- Start single page header -->
<section id="single-page-header">
	<div class="overlay">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="single-page-header-left">
						<h2>{{ ctrl.messages.aboutus_banner_title }}</h2>
						<p>{{ ctrl.messages.aboutus_banner_desc }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End single page header -->

<!-- Start about  -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-area">
					<h2 class="title">{{ ctrl.messages.aboutus_main_title }}</h2>
					<span class="line"></span>
					<p>{{ ctrl.messages.aboutus_main_desc }}</p>
				</div>
			</div>
			<div class="col-md-12">
				<div class="about-content">
					<div class="row">
						<div class="col-md-6">
							<div class="our-skill">
								<h3>{{ ctrl.messages.aboutus_skills_title }}</h3>
								<div class="our-skill-content">
									<p>{{ ctrl.messages.aboutus_skills_desc }}</p>
									<div class="progress">
										<span class="progressbar-back-text">100 %</span>
										<div class="progress-bar six-sec-ease-in-out"
											role="progressbar" data-transitiongoal="100"
											aria-valuenow="100" style="width: 100%;">
											<span class="progressbar-front-text" style="width: 555px;">100
												%</span>
										</div>
										<span class="progressbar-front-text" style="width: 555px;">100
											%</span> <span class="progress-title">{{
											ctrl.messages.aboutus_skill1 }}</span>
									</div>

									<div class="progress">
										<span class="progressbar-back-text">85 %</span>
										<div class="progress-bar six-sec-ease-in-out"
											role="progressbar" data-transitiongoal="85"
											aria-valuenow="85" style="width: 85%;">
											<span class="progressbar-front-text" style="width: 555px;">85
												%</span>
										</div>
										<span class="progressbar-front-text" style="width: 555px;"></span> <span class="progress-title">{{
											ctrl.messages.aboutus_skill2 }}</span>
									</div>

									<div class="progress">
										<span class="progressbar-back-text">75 %</span>
										<div class="progress-bar six-sec-ease-in-out"
											role="progressbar" data-transitiongoal="75"
											aria-valuenow="75" style="width: 75%;">
											<span class="progressbar-front-text" style="width: 555px;">75
												%</span>
										</div>
										<span class="progressbar-front-text" style="width: 555px;"></span> <span class="progress-title">{{
											ctrl.messages.aboutus_skill3 }}</span>
									</div>

									<div class="progress">
										<span class="progressbar-back-text">60 %</span>
										<div class="progress-bar six-sec-ease-in-out"
											role="progressbar" data-transitiongoal="60"
											aria-valuenow="60" style="width: 60%;">
											<span class="progressbar-front-text" style="width: 555px;">60
												%</span>
										</div>
										<span class="progressbar-front-text" style="width: 555px;"></span> <span class="progress-title">{{
											ctrl.messages.aboutus_skill4 }}</span>
									</div>
									<div class="progress">
										<span class="progressbar-back-text">22 %</span>
										<div class="progress-bar six-sec-ease-in-out"
											role="progressbar" data-transitiongoal="22"
											aria-valuenow="22" style="width: 22%;">
											<span class="progressbar-front-text" style="width: 555px;">22
												%</span>
										</div>
										<span class="progressbar-front-text" style="width: 555px;"></span> <span class="progress-title">{{
											ctrl.messages.aboutus_skill5 }}</span>
									</div>
									<div class="progress">
										<span class="progressbar-back-text">100 %</span>
										<div class="progress-bar six-sec-ease-in-out"
											role="progressbar" data-transitiongoal="100"
											aria-valuenow="35" style="width: 100%;">
											<span class="progressbar-front-text" style="width: 555px;">35
												%</span>
										</div>
										<span class="progressbar-front-text" style="width: 555px;"></span> <span class="progress-title">{{
											ctrl.messages.aboutus_skill6 }}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="why-choose-us">
								<h3>{{ ctrl.messages.aboutus_why_title }}</h3>
								<div class="panel-group why-choose-group" id="accordion">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion"
													href="#/aboutUs#collapseOne"> {{
													ctrl.messages.aboutus_why_reason1_title }} <span
													class="fa fa-minus-square"></span>
												</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in">
											<div class="panel-body">
												<img class="why-choose-img" src="images/testi1.jpg"
													alt="img">
												<p>{{ ctrl.messages.aboutus_why_reason1_desc }}</p>
											</div>
										</div>
									</div>
									<div class="panel panel-default ">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion"
													href="#/aboutUs#collapseTwo"> {{
													ctrl.messages.aboutus_why_reason2_title }} <span
													class="fa fa-plus-square"></span>
												</a>
											</h4>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse">
											<div class="panel-body">
												<p>{{ ctrl.messages.aboutus_why_reason2_desc }}</p>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion"
													href="#/aboutUs#collapseThree"> {{
													ctrl.messages.aboutus_why_reason3_title }} <span
													class="fa fa-plus-square"></span>
												</a>
											</h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse">
											<div class="panel-body">
												<p>{{ ctrl.messages.aboutus_why_reason3_desc }}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end about -->