<div class="buttonDiv"></div>
<button type="button" class="btn video-icon" data-toggle="modal"
	data-target="#videoDialog"></button>

<!-- Modal -->
<div class="modal fade" id="videoDialog" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Video Url</h4>
			</div>
			<div class="modal-body">
				<p>
					<label>Paste url here: 
						<input type="text" name="input"
							ng-model="ctrl.videoUrl"
							ng-trim="true"
							focus="true"/>
					</label>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" ng-click="ctrl.onclick()" class="btn btn-default" data-dismiss="modal">Add</button>
			</div>
		</div>

	</div>
</div>
