<div class='ng-modal' ng-show='show'>
	" + "
	<div class='ng-modal-overlay' ng-click='hideModal()'></div>
	" + "
	<div class='ng-modal-dialog' ng-style='dialogStyle'>
		" + "
		<div class='ng-modal-close' ng-click='hideModal()'>X</div>
		" + "
		<div class='ng-modal-dialog-content' ng-transclude></div>
		" + "
	</div>
</div>

<div class="modal fade" id="imgDialog" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Image Url</h4>
			</div>
			<div class="modal-body">
				<p>
					<label>Paste url here: 
						<input type="text" name="input"
							ng-model="ctrl2.imgUrl"
							ng-trim="true"/>
					</label>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" ng-click="ctrl2.onclick()" class="btn btn-default" data-dismiss="modal">Add</button>
			</div>
		</div>

	</div>
</div>

"<div class='modal fade' role='dialog' ng-show='show'>
	" + "
	<div class='modal-dialog'>
	" + "
		<div class='modal-content'>
	" + "
			<div class='modal-header'>
	" + "
				<button type='button' class='close' data-dismiss='modal'>&times;</button>
	" + "
			</div>
	" + "
			<div class='modal-body' ng-transclude>
	" + "
			</div>
	" + "
		</div>
	" + "
	</div>
	" + "
</div>"