footer#footer
.container
    .row
      .col-md-6.col-sm-6
        .footer-left
          p
            | Designed by 
            a(href='http://www.markups.io/') MarkUps.io
      .col-md-6.col-sm-6
        .footer-right
          a(href='index')
            i.fa.fa-facebook
          a(href='#')
            i.fa.fa-twitter
          a(href='#')
            i.fa.fa-google-plus
          a(href='#')
            i.fa.fa-linkedin
          a(href='#')
            i.fa.fa-pinterest
// End footer

// jQuery library
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
// Include all compiled plugins (below), or include individual files as needed
// Bootstrap
script(src='js/bootstrap.js')
// Slick Slider
script(type='text/javascript', src='js/slick.js')
// mixit slider
script(type='text/javascript', src='js/jquery.mixitup.js')
// Add fancyBox
script(type='text/javascript', src='js/jquery.fancybox.pack.js')
// counter
script(src='js/waypoints.js')
script(src='js/jquery.counterup.js')
// Wow animation
script(type='text/javascript', src='js/wow.js')
// progress bar
script(type='text/javascript', src='js/bootstrap-progressbar.js')
// Custom js
script(type='text/javascript', src='js/custom.js')

// Angular library
script(type='text/javascript', src='lib/angular/angular.min.js')
script(type='text/javascript', src='lib/angular-route/angular-route.min.js')
script(type='text/javascript', src='lib/angular-css/angular-css.min.js')
script(type='text/javascript', src='lib/angular-animate/angular-animate.min.js')

// dziws
script(type='text/javascript', src='js/app.js')
script(type='text/javascript', src='views/home/home.js')
script(type='text/javascript', src='views/about/about.js')
script(type='text/javascript', src='js/messages.js')
script(type='text/javascript', src='views/services/services.js')
script(type='text/javascript', src='views/blog/blog.js')
script(type='text/javascript', src='views/contact/contact.js')
script(type='text/javascript', src='views/consulting/consulting.js')
script(type='text/javascript', src='views/support/support.js')
script(type='text/javascript', src='views/products/products.js')
script(type='text/javascript', src='common/dziDialog.js')
script(type='text/javascript', src='views/adminpanel/adminpanel.js')
script(type='text/javascript', src='lib/ng-wig/ng-wig.min.js')
link(href='lib/ng-wig/css/ng-wig.css', rel='stylesheet')
script(type='text/javascript', src='common/ngwig/custom.js')
script(type='text/javascript', src='lib/ng-wig/js/bootstrap-colorpicker-module.js')