#preloader
      #status  
    a.scrollToTop(href='#')
      i.fa.fa-angle-up
     section#menu-area
      nav.navbar.navbar-default(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
             a.navbar-brand(href='#/')
              img(src='images/datzinfo_logo.png', alt='DataInfo')
          #navbar.navbar-collapse.collapse
            ul#top-menu.nav.navbar-nav.navbar-right.main-nav
              li.active
                a(href='#/') Home
              li
                a(href='#/aboutUs') About Us
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Services 
                  span.fa.fa-angle-down
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#/service') s1
                  li
                    a(href='@') s2
                  li
                    a(href='@') s3
                  li
                    a(href='@') s4
              li
                a(href='#/blog') Blog
              li
                a(href='#/contact') Contact
 