<!-- Start blog news single -->
<article class="blog-news-single animate-repeat" ng-repeat="post in ctrl.posts">
<!-- 	<div class="blog-news-img"> -->
<!-- 		<a href="blog-single-with-right-sidebar.html"><img -->
<!-- 			src="images/blog-img-1.jpg" alt="image"></a> -->
<!-- 	</div> -->
	<div class="blog-news-title">
		<h2>
			<a href="" ng-click="ctrl.onDetails(post.id)">{{ post.title }}</a>
		</h2>
		<p>
			By {{ post.author }}
			<span
				class="blog-date">| {{ post.createdAt | date:'MMM d yyyy' }}
			</span>
		</p>
	</div>
	<div class="blog-news-details">
		<div ng-bind-html="post.contents | clipped"></div>
		<a href="" ng-click="ctrl.onDetails(post.id)" class="blog-more-btn">
			Read More <i class="fa fa-long-arrow-right"></i>
		</a>
	</div>
</article>
