<!-- Start single page header -->
<section id="single-page-header">
	<div class="overlay">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="single-page-header-left">
						<h2>{{ ctrl.messages.blog_banner_title }}</h2>
						<p>{{ ctrl.messages.blog_banner_desc }}</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12"></div>
			</div>
		</div>
	</div>
</section>
<!-- End single page header -->

<!-- Start blog archive -->
<section id="blog-archive">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="blog-archive-area">
					<div class="row">
						<div class="col-md-4 hidden-sm hidden-xs">
							<aside class="blog-side-bar">
								<!-- Start sidebar widget -->
								<div class="sidebar-widget"></div>
								<!-- Start sidebar widget -->
								<div class="sidebar-widget">
									<h4 class="widget-title">{{ ctrl.messages.blog_categories_title }}</h4>
									<ul class="widget-catg">
										<li><a href=""
											ng-click="ctrl.onList('*')">{{ ctrl.messages.blog_categories_showall }}</a></li>
										<li class="animate-repeat"
											ng-repeat="category in ctrl.categories"><a href=""
											ng-click="ctrl.onList(category.id)">{{ category.type }}</a></li>
									</ul>
								</div>


								<!-- Start sidebar widget -->
							</aside>
						</div>
						<div class="col-md-8">
							<div class="blog-archive-left">
								<div ng-show="ctrl.posts.length == 0" class="default-text">
									No posts yet.</div>
								<div class="blog-include-container">
									<div class="blog-include-animation" ng-cloak
										ng-include="ctrl.subview.url" autoscroll="false"></div>
								</div>
							</div>
						</div>
					</div>
					<dzi-dialog id="writeReply" show='ctrl.replyShown' width=inherit
						height='auto'>
						<p class="default-text">Your email address will not be
							published.</p>
						<form action="" class="comments-form" ng-submit="ctrl.addReply()">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Your Name"
									ng-trim="true"
									ng-model="ctrl.reply.name"
									ng-class="{ 'error-border' : ctrl.isError && !ctrl.reply.name }"
									required 
									focus="ctrl.replyShown">
							</div>
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Email"
									ng-trim="true"
									ng-model="ctrl.reply.email">
							</div>
							<div class="form-group">
								<textarea placeholder="Comment" rows="3" cols="400"
									ng-trim="true"
									class="form-control" ng-model="ctrl.reply.message"
									ng-class="{ 'error-border' : ctrl.isError && !ctrl.reply.message }"
									required
									></textarea>
							</div>
							<button type="submit" class="comment-btn">Submit Comment</button>
						</form>
					</dzi-dialog>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End blog archive -->

