<!-- Start blog news single -->
<article class="blog-news-single animate-repeat" ng-repeat="post in ctrl.posts">
	<div class="blog-news-title">
		<h2>
			<a href="" ng-click="ctrl.onDetails(post.id)">{{ post.title }}</a>
		</h2>
		<p>
			By {{ post.author }}
<!-- 			<span am-time-ago="post.createdAt" class="blog-date" data-toggle="tooltip" title="{{ post.createdAt | date:'medium' }}"></span> -->
			<span class="blog-date" title="{{ post.createdAt | date:'medium' }}">
				- {{ post.createdAt | amCalendar:referenceTime:formats }}
			</span>
		</p>
	</div>
	<div class="blog-news-details">
		<div ng-bind-html="post.contents | clipped"></div>
		<a href="" ng-click="ctrl.onDetails(post.id)" class="blog-more-btn">
			Read More <i class="fa fa-long-arrow-right"></i>
		</a>
	</div>
</article>
