<!-- Start single page header -->
  <section id="single-page-header">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-page-header-left">
              <h2>{{ ctrl.messages.consulting_banner_title }}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End single page header -->
  
  <!-- Start Service -->
  <section id="service">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">{{ ctrl.messages.consulting_banner_title1 }}</h2>
            <span class="line"></span>
            <p class="italic-text">{{ ctrl.messages.consulting_banner_desc }}</p>
            <p> {{ ctrl.messages.consulting_banner_desc2 }}</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="service-content">
            <div class="row">
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-desktop service-icon"></i>
                  <h4 class="service-title">{{ ctrl.messages.consulting_box1_title }}</h4>
                  <p class="default-text">{{ ctrl.messages.consulting_box1_desc }}</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-paw service-icon"></i>
                  <h4 class="service-title">{{ ctrl.messages.consulting_box2_title }}</h4>
                  <p class="default-text">{{ ctrl.messages.consulting_box2_desc }}</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-magic service-icon"></i>
                  <h4 class="service-title">{{ ctrl.messages.consulting_box3_title }}</h4>
                  <p class="default-text">{{ ctrl.messages.consulting_box3_desc }}</p>
                </div>
              </div>
              <!-- End single service -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service -->