  <!-- Start login modal window -->
  <div aria-hidden="false" role="dialog" tabindex="-1" id="login-form" 
  		ng-class="{'login' : !ctrl.isAuthenticated}"
  		class="modal leread-modal fade in">
    <div class="modal-dialog">
      <!-- Start login section -->
      <div id="login-content" class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title"><i class="fa fa-unlock-alt"></i>Login</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <input type="text" placeholder="User name" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
             <div class="loginbox">
              <label><input type="checkbox"><span>Remember me</span></label>
              <button class="btn signin-btn" ng-click="ctrl.onSignIn()" type="button">SIGN IN</button>
            </div>                    
          </form>
        </div>
        <div class="modal-footer footer-box">
          <a href="#">Forgot password ?</a>
          <span>No account ? <a id="signup-btn" href="#">Sign Up.</a></span>            
        </div>
      </div>
      <!-- Start signup section -->
      <div id="signup-content" class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title"><i class="fa fa-lock"></i>Sign Up</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <input placeholder="Name" class="form-control">
            </div>
            <div class="form-group">
              <input placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
              <input placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <div class="signupbox">
              <span>Already got account? <a id="login-btn" href="#">Sign In.</a></span>
            </div>
            <div class="loginbox">
              <label><input type="checkbox"><span>Remember me</span><i class="fa"></i></label>
              <button class="btn signin-btn" type="button">SIGN UP</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End login modal window -->

<div ng-include="'views/navigator/navigator.html'"></div>
<form id="admin" class="adminpanel">
	<div class="form-group form-top">
		<label for="title">Title:</label>
		<input type="text" class="form-control" id="title" ng-model="ctrl.data.title">
		<label for="author">Author:</label>
		<input type="text" class="form-control" id="author"ng-model="ctrl.data.author">
		<label for="state">State:</label> 
		<select class="form-control text-capitalize" ng-options="state.name for state in ctrl.states" ng-model="ctrl.state"></select>
		<label for="category">Category:</label> 
		<select class="form-control" ng-options="category.name for category in ctrl.categories" ng-model="ctrl.category"></select>
		<label for="image">Image:</label> <input type="text"
			class="form-control" id="image">
	</div>
	<div class="form-group form-bottom">
		<label for="content">Content:</label>
		<ng-wig id="content" ng-model="ctrl.data.contents" source-mode-allowed></ng-wig>
	</div>
	<div class="form-group form-button">
		<div class="text-warning">
			{{ ctrl.errorMsg }}
		</div>
		<div class=".text-success">
			{{ ctrl.successMsg }}
		</div>
		<button type="button" ng-click="ctrl.save()" class="btn btn-warning">Save</button>
	</div>


</form>
