
  <!-- SCROLL TOP BUTTON -->
  <a class="scrollToTop" href="" onclick="window.scrollTo(0,0)"><i class="fa fa-angle-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->

 

  <!-- BEGIN MENU -->
  <section id="menu-area">      
    <nav class="navbar navbar-default" role="navigation">  
      <div class="container">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- LOGO -->              
          <a class="navbar-brand" href="#/"><img src="images/datzinfo_logo.png" alt="DataInfo" ></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
            <li ng-class="{active : ctrl.util.getActive() === 'Home'}">
            	<a href="#/" ng-click="ctrl.util.setActive('Home')">Home</a></li>
            <li ng-class="{active : ctrl.util.getActive() === 'About Us'}">
            	<a href="#/aboutUs" ng-click="ctrl.util.setActive('About Us')">{{ ctrl.messages.aboutUs }}About Us</a></li>
            <li ng-class="{active : ctrl.util.getActive() === 'Services'}" class="dropdown">
              <a href="" ng-click="ctrl.util.setActive('Services')" class="dropdown-toggle" data-toggle="dropdown">Services <span class="fa fa-angle-down"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#/consulting">{{ ctrl.messages.menu_service1 }}</a></li>                
                <li><a href="#/support">{{ ctrl.messages.menu_service2 }}</a></li>
                <li><a href="#/products">{{ ctrl.messages.menu_service3 }}</a></li>
                <li><a href="#/products">{{ ctrl.messages.menu_service4 }}</a></li>           
              </ul>
            </li>
            <li ng-class="{active : ctrl.util.getActive() === 'Blog'}">
            	<a href="#/blog" ng-click="ctrl.util.setActive('Blog')">Blog</a></li>            
            <li ng-class="{active : ctrl.util.getActive() === 'Contact'}">
            	<a href="#/contact" ng-click="ctrl.util.setActive('Contact')">Contact</a></li>
          </ul>                     
        </div><!--/.nav-collapse -->
      </div>     
    </nav>
  </section>
  <!-- END MENU --> 
