/*=======================================
Template Design By MarkUps.
Author URI : http://www.markups.io/
========================================*/

.login:hover,
.login:focus{
  background-color: #ff871c; 
}

.navbar-brand {
  color: #ff871c !important; 
  margin-top: 0 !important;
  max-width: 100%;
/*   height: auto; */
/*   width: auto\9; ie8 */
}

.slide-content {
  background-color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar-brand > img {
	height: auto;
	width: 150px;

}

.mobileLogo {
	height: auto;
	width: 40px;
}

.navbar-brand:hover,
.navbar-brand:focus{
  color: #ff871c !important;  
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ff871c !important;  
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ff871c;
}

.main-nav > li > a:hover::before,
.navbar-default .navbar-nav > .active > a::before,
.navbar-default .navbar-nav > .open > a:hover::before {
  background-color: #ff871c; 
}

.main-nav .dropdown:hover .dropdown-toggle{ 
  color: #ff871c; 
}

.main-nav .dropdown:hover .dropdown-toggle::before{
  background-color: #ff871c;
  color: #ff871c; 
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {  
  color: #ff871c;
}

.navbar-nav > li > .dropdown-menu {
  border-top: 2px solid #ff871c;  
}

.navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-nav > li > .dropdown-menu > li > a:focus{ 
  color: #ff871c;
}

.main-slider .slick-prev:hover,
.main-slider .slick-next:hover{
  background-color: #ff871c;
}

.main-slider .slick-dots li button::before {
  color: #ff871c;    
}

.read-more-btn:hover,
.read-more-btn:focus{
  background-color: #ff871c;  
}

.title-area .title {
  color: #ff871c;  
}

.single-feature .feature-icon {
  color: #ff871c;
}

.feat-title{
  color: #ff871c;
}

.our-skill h3{
  color: #ff871c;
}

.our-skill h3::after {
  background-color: #ff871c;
}

.our-skill-content .progress-bar {
  background-color: #ff871c;    
}

.why-choose-us h3{
  color: #ff871c;  
}

.why-choose-us h3::after {
  background-color: #ff871c;  
}

.panel-title > a:hover,
.panel-title > a:focus{
  color: #ff871c;
}

.single-counter .counter-label::after {
  background-color: #ff871c;  
}

.price-title {
  background-color: #ff871c;
}

.purchase-btn:hover,
.purchase-btn:focus{
  background-color: #ff871c;
  border-color: #ff871c;  
}

.featured-price .price-header{
  background-color: #ff871c;
}

.featured-price .purchase-btn{
  background-color: #ff871c;
  border-color: #ff871c;
}

.team-member-img {  
  border: 2px solid #ff871c;  
}

.single-team-member:hover{
  border: 2px solid #ff871c;
}

.single-team-member:hover .team-member-link{
  background-color: #ff871c;  
}

.team-member-link {
  border: 2px solid #ff871c;
}

.testimonial-content h6 span {
  color: #ff871c;
}

.testimonial-slider .slick-dots li {
  border: 1px solid #ff871c; 
}

.blog-news-title p {
  color: #ff871c; 
}

.blog-news-title h2>a:hover{
  color: #ff871c;  
}

.blog-news-title .blog-author:hover{
  color: #ff871c;
}

.blog-more-btn:hover,
.blog-more-btn:focus{
  color: #ff871c;  
}

.subscribe-btn {
  background-color: #ff871c;
}

.scrollToTop {
  background-color: #ff871c;
}

.scrollToTop:hover,
.scrollToTop:focus{
  color: #ff871c;
  border: 1px solid #ff871c; 
}

.portfolio-menu ul li:hover,
.portfolio-menu ul li.active{
  background-color: #ff871c;
  border-color: #ff871c; 
}

.single-item-content::after {
  border: 4px solid #ff871c;  
}

.view-icon:hover{
  color: #ff871c;
}

.pagination-nav li a:hover,
.pagination-nav li a:focus { 
  background-color: #ff871c;
  border-color: #ff871c; 
}

.sidebar-widget ul>li>a:hover{
  color: #ff871c;
}

.search-group .blog-search-btn {
  background-color: #ff871c;  
}

.search-group input[type="search"] {  
  border: 1px solid #ff871c;  
}

.search-group input[type="search"]:focus{
  border-color: #ff871c;
}

.widget-title::after {
  background-color: #ff871c;  
}

.widget-catg li{
  color: #ff871c;
}

.widget-catg li a:hover,
.widget-catg li a:focus{
  color: #ff871c; 
}

.tag-cloud a:hover,
.tag-cloud a:focus{
  background-color: #ff871c;
  border-color: #ff871c;  
}

.widget-archive li a:hover,
.widget-archive li a:focus{
  color: #ff871c;
}

.blog-single-tag a:hover,
.blog-single-tag a:focus {
  color: #ff871c;  
}

.blog-single-social a:hover,
.blog-single-social a:focus {  
  color: #ff871c;
  border-color: #ff871c;
}

.blog-navigation-prev a>span{
  color: #ff871c;  
}

.blog-navigation-next a>span{
  color: #ff871c;  
}

.comments-form .form-control:focus {
  border-color: #ff871c;  
}

.comments-box-area h2::after {
  background-color: #ff871c;
}

.comments-box-area {
	padding: 0;
	margin-top: 0;
}
.comment-btn:hover{
  background-color: #ff871c;
  border-color: #ff871c;  
}

.contact-area-left h4::after {
  background-color: #ff871c;
}

#login-content .form-control:focus {
  border-color: #ff871c;  
}

.loginbox .signin-btn {
  background-color: #ff871c;  
}

.footer-box a:hover,
.footer-box a:focus{
  color: #ff871c;
}

#signup-content .modal-title {
  color: #ff871c;
}

#signup-content .form-control:focus {
  border-color: #ff871c;  
}

.signupbox span a:hover{
  color: #ff871c; 
}

.navbar-default .navbar-toggle {
  border-color: #ff871c;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ff871c;
}

#search-icon {
  color: #ff871c;  
}

#login-content .modal-title {
  color: #ff871c;
}

.service-icon {
  color: #ff871c;
}

.footer-left p a:hover{
  color: #ff871c;
}

.footer-right a:hover{
  color: #ff871c;
}

.single-page-header-right .breadcrumb li{
  color: #ff871c;
}

.error-title {
  background-color: #ff871c;
  border: 2px solid #ff871c;  
}

.error-content span {
  color: #ff871c; 
}

.error-content .error-home {
  background-color: #ff871c;  
}

.adminpanel {
	color: gray;
	min-height: 920px;
}

.form-top {
	margin-left: 30px;
	margin-right: 30px;
}

.form-bottom {
	margin-left: 40px;
	margin-right: 40px;
}

#admin label {
	padding: 1px;
}

#admin body {
	height: 100%;
}

.form-button {
	margin-left: auto;
	margin-right: auto;
}

.video-icon {
	background: url(../../images/video.ico) no-repeat;
    margin-left: 7px;
    margin-top: 5px;
    
}

.image-icon {
	background: url(../../images/image.ico) no-repeat;
    margin-left: 7px;
    margin-top: 5px;
    
}

.buttonDiv {
	vertical-align: middle;
	align-items: center;
}

.slider-container {
	width: 100%;
  	height: 100%;
  	position: relative;
}

.slider-image {
    min-width: 1280px;
    min-height: 480px;
    width: 100%;
    height: 100%;
}

#slider-img {
  width: 100%;
  height: 650px;
  position: absolute;
  top: 0;
  left: 0;
}
#slider-text {
  position: absolute;
  z-index: 9999;
  font-size: xx-large;
  top: 100px;
  left: 175px;
  width: 30%;
}

.slider-readme {
	font-size: large;
	color: #ff871c;
}

#videoDialog input {
	width: 400px;
}

#imgDialog input {
    width: 400px;
}
/* .enter { animation: slideInUp 0.5s both ease-in; z-index: 9999; } */

.enter {
   animation: 
      squareCounterClockwise 1s both ease-in; z-index: 9999, 
}


/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */


/* Rotating Square clockwise */
/* Rotating Square counterclockwise */
@-webkit-keyframes squareCounterClockwise {
    
    0%   {left:60px; top:20px;}
    25%  {left:60px; top:400px;}
    50%  {left:400px; top:400px;}
    75%  {left:400px; top:20px;}
    100% {left:60px; top:20px;}
   
}

/* Standard syntax */
@keyframes squareCounterClockwise {
    0%  {left:150px; top:400px;}
   	50%   {left:150px; top:120px;}
    100%  {left:800px; top:120px;}    
}

/* Rotating Square counterclockwise */
@-webkit-keyframes squareClockwise {
    
    0%   {left:60px; top:20px;}
    25%  {left:400px; top:20px;}
    50%  {left:400px; top:400px;}
    75%  {left:60px; top:400px;}
    100% {left:60px; top:20px;}
   
}

/* Standard syntax */
@keyframes squareClockwise {
    0%   {left:60px; top:20px;}
    25%  {left:400px; top:20px;}
    50%  {left:400px; top:400px;}
    75%  {left:60px; top:400px;}
    100% {left:60px; top:20px;}
}

/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

@keyframes slideInLeft {
    from    { transform:translateX(0); }
    to      { transform: translateX(100%); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

/* slide in from the bottom */
@keyframes slideInUpToRight {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
    from    { transform:translateX(80%); }
    to      { transform: translateX(0); }
}

/*
 * Shake animation
*/
@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}
@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}
/*
 * FadeIn animation
*/
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
/*
 * FadeOut animation
*/
@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes fadeOut{
    0% {opacity: 1;}
    100% {opacity: 0;}
}
/* .ng-enter { animation: slideInRight 0.5s both ease-in; z-index: 8888; } */
/* .ng-leave { animation: slideInLeft 0.5s both ease-in; z-index: 9999; } */

.login {
	display:inline !important;
}

/* //Submit button */
/* @import "compass/css3"; */

/* $seafoam : rgb(30,205,151); */
/* $white : white; */
/* $gray : rgb(200,200,200); */

/* body { */
/*   text-align:center; */
/* } */

/* .center-component { */
/*   position:absolute; */
/*   top:50%; */
/*   left:50%; */
/*   transform:translate(-50%, -50%); */
/* } */

/* button.colins-submit { */
/*   background:transparent; */
/*   border:none; */
/*   &.is-active { */
/*     cursor:default; */
/*   } */
/*   &:focus { */
/*     outline: none;  */
/*   } */
/*   &::-moz-focus-inner { */
/*     border: 0; */
/*   } */
  
/*   //RESTING STATE */
/*   svg { */
/*     text { */
/*       font-family: 'Montserrat', sans-serif; */
/*       &.textNode { */
/*         fill:$seafoam; */
/*       } */
/*       &.checkNode { */
/*         fill-opacity:0; */
/*       } */
/*     } */
/*     rect { */
/*       &.btn-shape { */
/*         &.btn-bg { */
/*           stroke:$gray; */
/*           fill:$white; */
/*         } */
/*         &.btn-color { */
/*           stroke:$seafoam; */
/*           fill:$white; */
/*           stroke-dasharray:453;//Magic number :/ */
/*           stroke-dashoffset:0; */
/*         } */
/*       } */
/*     } */
/*   } */
/* } */

/* p { */
/*   font-family: Montserrat, sans-serif; */
/*   color: #575757; */
/*   font-size: 1rem; */
/*   max-width:330px; */
/*   a { */
/*     color:$seafoam; */
/*     &:hover, &:active{ */
/*       color:saturate($seafoam, 20%);       */
/*     } */
/*     &:visited { */
/*       color:desaturate($seafoam, 20%);    */
/*     } */
/*   } */
/* } */

.carousel-control.left, .carousel-control.right {
    background: none !important;
    color: white;
}

       #carousel-custom {
            margin: 20px auto;
            width: 400px;
        }
        #carousel-custom .carousel-indicators {
            margin: 10px 0 0;
            overflow: auto;
            position: static;
            text-align: left;
            white-space: nowrap;
            width: 100%;
        }
        #carousel-custom .carousel-indicators li {
            background-color: transparent;
            -webkit-border-radius: 0;
            border-radius: 0;
            display: inline-block;
            height: auto;
            margin: 0 !important;
            width: auto;
        }
        #carousel-custom .carousel-indicators li img {
            display: block;
        }
        #carousel-custom .carousel-outer {
            position: relative;
        }
        
.submitBox{
	border: none !important;
	background: none !important;
}


.buttonGlow:hover {background-color: #3e8e41}

.buttonGlow:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.panel {
    border: none;
    box-shadow: none;
}
.panel.noborder > .panel-heading {
    border: none;
    border-radius: 0;
	border-top: 1px solid lightgray;
}
.panel.noborder > .panel-footer {
    border: none;
    border-radius: 0;
	border-bottom: 1px solid lightgray;
}

.panel-body {
	padding: 2px 15px 15px;
}

.ng-modal-dialog {
  z-index: 10000;
/*   position: absolute; */
/*  position: element(#replyLink_0_0); */
/*   transform: translate(50%,-50%); */
  position: fixed;
  width: 40%;
  top: 50%;
  right: 50%;
/*   left: 50%; */
/*   transform: translate(50%, -118%); */
/*   -webkit-transform: translate(-50%, -50%); */
/*   -moz-transform: translate(-50%, -50%); */
  background-color: #fff;
  box-shadow: 2px 2px 10px gray;
  transition: transform 0.3s ease-out 0s;
  font-size: small;
}

#writeReply input  {
	font-size: small;
	height: auto;
}

#writeReply textarea {
	font-size: small;
	height: auto;
}

.ng-modal-overlay {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: slategrey;
  opacity: 0.8;
}

.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  color: gray;
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

#leaveComment {
	font-size: small;
	margin-bottom: 50px;
	color: gray;
}

.comment-list {
	color: gray;
	font-size: 12px;
	width: 60%;
}

.comment-content, .reply-content {
	margin-bottom: 4px;
}

.reply-list {
	margin-left: 12px;
	margin-top: 7px;
}

.reply-link {
	font-size: x-small;
	color: #ff871c;
	cursor: pointer;
}

.default-text {
	color: gray;
}

.blog-news-details > div {
	font-size: small;
}

textarea.form-control {
    height: auto;
    width: 100% !important;
}

.slide-animate {
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}

.blog-include-container {
  position: relative;
}
.blog-include-animation.ng-enter,
.blog-include-animation.ng-leave {
  -webkit-transition: 1.5s linear all;
  -moz-transition: 1.5s linear all;
  -o-transition: 1.5s linear all;
  transition: 1.5s linear all;
}
.blog-include-animation.ng-enter {
  z-index: 100;
  opacity: 0;
}
.blog-include-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.blog-include-animation.ng-leave {
  z-index: 101;
  opacity: 1;
}
.blog-include-animation.ng-leave.ng-leave-active {
  opacity: 0;
}

.truncate {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-truncate {
    cursor: pointer;
    max-height: 6em;
    overflow: hidden;
    position: relative;
}
.text-truncate::after {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 90%);
    background-size: 100% auto;
    bottom: 0;
    content: "";
    height: 40px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 45px;
    width: 100%;
}
.text-truncate-expand {
    height: auto;
    max-height: 1024px;
}
.text-truncate-expand::after {
    background-image: none;
}font-family: 'Open Sans ', sans-serif ;
.divider {
	height: 1px;
	overflow: hidden;
	background-color: #e0e0e0;
}